.user_page_container {
  //border: 2px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  
  @media(max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
  @media(max-width: 768px) {
    grid-template-columns: 1fr;
  }
}