.todo_wrapper {
  width: 70%;
  margin: 50px auto;
  min-width: 515px;
  //border: 2px solid red;

  h1 {
    font-size: 1.5em;
    text-align: center;
  }

  ul {
    width: 100%;
    margin: 0;
  }
}

.todo {
  height: 50px;
  border: 1px solid #bebebe;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 1.3em;
  padding: 0 15px;
  display: flex;
  align-items: center;
  position: relative;

  &_close {
    cursor: pointer;
    position: absolute;
    right: 50px;

    &:hover {
      color: red;
    }
  }
}

.completed {
  text-decoration: line-through;
}

.todo_input_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.main_content_wrapper {
  padding: 15px 20px;
  position: relative;


}

.todo_checkbox_label {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 70%;

}

.todo_item {

  position: relative;

  span {
    margin-right: 30px;
  }

  svg {
    cursor: pointer;
    width: auto;

    &:hover {
      color: orange;
    }
  }
}