* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --main-color: #002748;
}

.sidebar_trigger {
  color: white;
  cursor: pointer;
  width: 100%;
  height: 40px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}


@import "pages/pages";
@import "components/todoComponents/todos";
@import "components/userComponents/users";