* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --main-color: #002748;
}

.sidebar_trigger {
  color: white;
  cursor: pointer;
  width: 100%;
  height: 40px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: calc(100vh - 64px);
}

li {
  list-style: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.cabinet {
  box-shadow: 0 0 7px black;
  background: #bebebe;
  height: 500px;
}

.user {
  display: flex;
}
.user__info {
  width: 100%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
.user__info h1 {
  margin: 0;
  font-size: 2.5em;
}
.user__info h3 {
  margin: 0;
  font-size: 1.5em;
  color: grey;
}

.logInOut {
  color: grey;
  float: right;
  font-size: 16px;
  cursor: pointer;
}
.logInOut:hover {
  color: white;
}

.spin-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.todo_wrapper {
  width: 70%;
  margin: 50px auto;
  min-width: 515px;
}
.todo_wrapper h1 {
  font-size: 1.5em;
  text-align: center;
}
.todo_wrapper ul {
  width: 100%;
  margin: 0;
}

.todo {
  height: 50px;
  border: 1px solid #bebebe;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 1.3em;
  padding: 0 15px;
  display: flex;
  align-items: center;
  position: relative;
}
.todo_close {
  cursor: pointer;
  position: absolute;
  right: 50px;
}
.todo_close:hover {
  color: red;
}

.completed {
  text-decoration: line-through;
}

.todo_input_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.main_content_wrapper {
  padding: 15px 20px;
  position: relative;
}

.todo_checkbox_label {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 70%;
}

.todo_item {
  position: relative;
}
.todo_item span {
  margin-right: 30px;
}
.todo_item svg {
  cursor: pointer;
  width: auto;
}
.todo_item svg:hover {
  color: orange;
}

.user_page_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
@media (max-width: 1200px) {
  .user_page_container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .user_page_container {
    grid-template-columns: 1fr;
  }
}

.tab_container {
  min-height: 250px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 25px;
}
.tab_container .buttons_wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  flex-direction: row;
  gap: 10px;
}
.tab_container table {
  margin: 0;
  padding: 0;
  width: 400px;
}
.tab_container table input {
  border: none;
  outline: none;
}
.tab_container td {
  padding: 10px 0;
  text-align: center;
  height: 50px;
  border-bottom: 1px solid grey;
}
.tab_container td:first-child {
  color: grey;
  font-style: italic;
  width: 30%;
}
.tab_container td:nth-child(2) {
  width: 70%;
}
.tab_container td:nth-child(2) input {
  width: 70%;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
